footer .contact {
  border-top: solid blue;
  margin-top: 2%;
  ul {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      width: 8%;
      margin-right: 2%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
